.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Exclude all node_modules by default
node_modules/**

# out/ directory is included by default (contains compiled extension + langflow build)
